

.light-theme {


  --background-primary: hsl(0, 0%, 100%);
  --background-secondary: hsl(210, 100%, 98%);

  --action-primary: hsl(213, 49%, 89%);
  --action-secondary: hsl(210, 56%, 94%);

  --foreground-primary: hsl(218, 24%, 18%);
  --foreground-secondary: hsl(216, 12%, 47%);
  --foreground-tertiary: hsl(214, 22%, 70%);

  --accent: hsl(229, 94%, 62%);
}

.dark-theme {
  /*=============== dark theme colors  ===============*/
  --background-primary: hsl(218, 23%, 23%);
  --background-secondary: hsl(220, 26%, 14%);

  --action-primary: hsl(216, 15%, 52%);
  --action-secondary: hsl(218, 23%, 23%);

  --foreground-primary: hsl(210, 38%, 95%);
  --foreground-secondary: hsl(211, 25%, 84%);
  --foreground-tertiary: hsl(214, 20%, 69%);

  --accent: hsl(229, 94%, 62%);
}

:root {
  /*========== Colors ==========*/
  --white: hsl(0, 0%, 100%);

  /*========== Font and typography ==========*/
  --fs-base: 0.85rem;
  --fs-1: 1.875rem;
  --fs-2: 1.5rem;
  --fs-3: 1.25rem;
  --fs-4: 0.875rem;
  --fs-5: 0.75rem;

  /*========== spacing ==========*/
  --py: 5rem;
}

/*=============== Reset ===============*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
}

img,
button {
  display: block;
}

a,
span {
  display: inline-block;
}

button {
  font: inherit;
  border: none;
  background: none;
  cursor: pointer;
}

html {
  font-family: "Inter", sans-serif;
  font-size: var(--fs-base); /* base font-size (0.85rem = 13.6px) */
  line-height: 1.8;
}

:focus {
  outline-offset: 4px;
}

/*=============== scrollbar style ===============*/

::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-thumb {
  background: var(--accent);
  border-radius: 20px;
  border: 4px solid;
}

.light-theme::-webkit-scrollbar-thumb {
  border-color: hsl(0, 0%, 90%);
}

.dark-theme::-webkit-scrollbar-thumb {
  border-color: hsl(219, 27%, 20%);
}

.light-theme::-webkit-scrollbar-track {
  background: hsl(0, 0%, 90%);
}

.dark-theme::-webkit-scrollbar-track {
  background: hsl(219, 27%, 20%);
}
/*=============== BASE ===============*/
.h1,
.h2,
.h3,
.h4 {
  display: block;
  color: var(--foreground-primary);
}
.h1 {
  font-size: var(--fs-1);
  font-weight: 900;
}
.h2 {
  font-size: var(--fs-2);
  font-weight: 700;
}
.h3 {
  font-size: var(--fs-3);
  font-weight: 700;
}
.h4 {
  font-size: var(--fs-4);
  font-weight: 700;
}
.text-sm {
  font-size: var(--fs-4);
}
.text-tiny {
  font-size: var(--fs-5);
}
/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  padding: 0 15px;
  margin-inline: auto;
  margin: auto; /* fallback for margin-inline */
}

.btn {
  min-width: 10rem;
  border-radius: 100px;
  text-align: center;
  transition: all 0.2s;
}
.btn-primary {
  background: var(--accent);
  color: var(--white);
  padding: 0.6rem 1.2rem;
}
.btn-primary:hover {
  background: var(--foreground-secondary);
  color: var(--action-primary);
}
.btn-secondary {
  background: var(--action-secondary);
  color: var(--foreground-secondary);
  padding: 0.6rem 1.2rem;
  border: 3px solid var(--foreground-tertiary);
}
.btn-secondary:hover {
  color: var(--accent);
  border-color: var(--accent);
}

/*=============== Extra style for dark theme ===============*/

.dark-theme .btn-primary:hover {
  color: var(--background-primary);
}

.dark-theme .blog-topic {
  background: var(--action-primary);
  color: var(--foreground-secondary);
}

.dark-theme .blog-topic:hover {
  background: var(--foreground-primary);
  color: var(--action-primary);
}

.dark-theme .load-more:hover {
  color: var(--white);
}

.dark-theme .aside .h2 {
  color: var(--foreground-primary);
}

/*=============== HEADER ===============*/
header {
  background: var(--background-primary);
}

header .flex-wrapper {
  display: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  padding: 15px 0;
}

.logo {
  font-weight: 900;
  font-size: var(--fs-1);
  color: var(--foreground-primary);
}
.logo span {
  color: var(--accent);
}

header .btn-group {
  display: flex;
  align-items: center;
  gap: 15px;
}
.theme-btn-mobile,
.nav-menu-btn,
.nav-close-btn {
  background: var(--action-secondary);
  color: var(--foreground-tertiary);
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  font-size: 25px;
  transition: all 0.2s ease-in;
}

:is(.theme-btn-mobile, .nav-close-btn, .nav-menu-btn):hover {
  background-color: var(--accent);
  color: var(--white);
}
.theme-btn-mobile ion-icon {
  display: none;
}
.light .sun,
.dark .moon {
  display: block;
}
.mobile-nav {
  position: fixed;
  inset: 0;
  background: var(--background-primary);
  padding: 70px 20px;
  overflow: auto;
  overscroll-behavior: contain;
  transform: translateX(100%);


  visibility: hidden;
  transition: 0.5s cubic-bezier(1, 0, 0.3, 0.7);
  z-index: 10;
}
.mobile-nav.active {
  transform: translate(0);
  visibility: visible;
}
.nav-close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
}
.mobile-nav .wrapper {
  padding-bottom: 1.25rem;
  margin-bottom: 1.25rem;
  border-bottom: 1px solid var(--action-primary);
}
.mobile-nav .nav-title {
  margin-bottom: 1rem;
  font-weight: 800;
}
.mobile-nav .nav-item {
  margin-bottom: 0.5rem;
}
.mobile-nav .nav-link {
  font-size: var(--fs-4);
  color: var(--foreground-secondary);
  font-weight: 700;
  transition: all 0.2s ease-in;
}
.mobile-nav .nav-link:hover {
  color: var(--accent);
}

/*=============== HERO ===============*/
.hero {
  background: var(--background-primary);
  padding: 0 15px;
  padding-top: 2rem;
  padding-bottom: var(--py);

  text-align: center;
}
.hero .h1 {
  color: var(--foreground-primary);
  margin-bottom: 1.2rem;
  line-height: 1.6;
}
.hero .h1 b {
  font-weight: 900;
  color: var(--accent);
}
.hero p {
  font-weight: 500;
  font-size: 20;
  color: var(--foreground-secondary);
  margin-bottom: 1rem;
}

.hero .right {
  display: none;
}
.main{
    background-color:var(--background-secondary) ;
}
.main .container {
  background-color: var(--background-secondary);

}

.hero .btn-group {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.main .blog-card-group {
  box-shadow: 0 10px 10px hsla(0, 0%, 0%, 0.05);
  border-radius: 5px;
  padding: 1rem;
  transition: all 0.2s ease-in;
}
.main .blog-card-group:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 10px hsla(0, 0%, 0%, 0.1);
}
.main .blog {
  padding-top: 2rem;

  padding: 0 15px;
  padding-bottom: 2rem;
}

.main .h2 {
  margin-top: rem;
  padding: 2rem 0;
  text-align: center;
}

.main .blog-card-banner {
  width: 100%;
}
.main img {
  border-radius: 5px;
  margin-bottom: 1rem;
}

.main button {
  background-color: var(--action-primary);
  color: var(--foreground-secondary);
  padding: 0.2rem 10px;
  border-radius: 5px;
  font-weight: 600;
  margin-bottom: 1rem;
  transition: all 0.2s;
}
.main button:hover {
  color: var(--accent);
}

.main .text {
  margin-bottom: 1rem;
  color: var(--foreground-primary);
  transition: all 0.2s;
}

.main .text:hover {
  margin-bottom: 1rem;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  color: var(--foreground-secondary);
}
.main .profile img {
  display: none;
}

.main .blog-profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  color: var(--foreground-tertiary);
}
.blog-profile a {
  font-weight: 700;
  color: var(--foreground-secondary);
  transition: all 0.2s;
}
.blog-profile a:hover {
  color: var(--accent);
}

.button-loadmore {
  display: flex;
  justify-content: center;
  background-color: var();
  padding-top: 2rem;
  padding-bottom: 4rem;
}

.load {
  background-color: var(--foreground-tertiary);
  color: var(--action-secondary);
  padding: 0.2rem 1rem;
  border-radius: 5px;
  border: 2px solid;
  border-color: var(--action-primary);
  font-size: var(--fs-4);
  box-shadow: 0 5px 10px hsl(214, 22%, 70%);
  transition: all.2s;
}

.load:hover {
  background-color: var(--accent);
  color: var(--action-secondary);
  transform: translateY(-3px);
}

.aside{
    display: none;
}

footer {
  background-color: var(--background-secondary);
}

footer .container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  text-align: center;
  align-items: center;
  margin: auto;
}
.logo-img {
  display: flex;
  justify-content: center;
  padding-top: 4rem;
}

footer .footer-logo {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  border: 2px solid var(--accent);
}
footer .logo {
  padding-top: 3rem;
}

.footer-logo-text {
  font-weight: 700;
  color: black;
}

.footer-logo-text b {
  font-weight: 900;
  color: var(--accent);
}
.footer-p {
  font-size: var(--fs-3);
  font-weight: 700;
  color: var(--foreground-secondary);
}

.links-text {
  font-size: var(--fs-3);
  font-weight: 500;
  color: var(--foreground-primary);
}

.links-li {
  color: var(--foreground-secondary);
  font-size: var(--fs-4);
  font-weight: 700;
  line-height: 2;
}
.links-li:hover {
  color: var(--accent);
}

.copyright{
    margin-top: 5rem;
    padding-bottom: .2rem;
    text-align: center;
    font-size: var(--fs-5);
    font-weight: 500;
    color: var(--foreground-tertiary);

}

.copyright a {
    font-size: var(--fs-5);
    font-weight: 500;
    color: var(--foreground-tertiary);

}

.copyright a:hover{
    color: var(--accent);
}
